* {
    padding: 0;
    margin: 0;
}

.hidden
{
    display: none;
}

/*
    Pie chart styles.
*/

.pieContainer
{
    border: solid 1px black;
    width: 700px;
    height: 400px;
    vertical-align: middle;
    text-align: center;
}